version: "2.0"
services:

    mysql:
      image: mysql:5.7
      container_name: phpschool-mysql
      working_dir: /application
      environment:
        - MYSQL_ROOT_PASSWORD=root
        - MYSQL_DATABASE=symfony
        - MYSQL_USER=root
        - MYSQL_PASSWORD=root

    postgres:
      image: postgres:9.6-alpine
      container_name: phpschool-postgres
      working_dir: /application
      environment:
        - POSTGRES_USER=root
        - POSTGRES_PASSWORD=root
        - POSTGRES_DB=symfony

    clickhouse:
      image: yandex/clickhouse-server:latest
      container_name: phpschool-clickhouse
      working_dir: /application

    ubuntu:
      image: composer:latest
      container_name: phpschool-composer
      ports:
        - "8000:8000"
      command: php -S 0.0.0.0:8000
#      volumes:
#        - .:/var/www
#      tty: true
      links:
        - mysql
        - postgres
        - clickhouse
